/* Estilos generales para el contenedor */
.container-form {
  display: flex;
  border-radius: 20px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
  height: 500px;
  max-width: 900px;
  transition: all 1s ease;
  background-image: url('src/components/Login/img/2.jpg'); /* Ajusta la ruta de la imagen */

  margin: 100px;
}

/* Estilos para la vista de información */
.container-form .information {
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  border-top-left-radius: 20px;
  
  border-bottom-left-radius: 20px;
}

/* Estilos para los hijos dentro de .information */
.container-form .information .info-childs {
  
  width: 100%;
  padding: 0 30px;
}

.container-form .information .info-childs h2 {
  font-size: 2.5rem;
  color: #333;
}

.container-form .information .info-childs p {
  margin: 15px 0 ;
  color: #555;
}

.container-form .information .info-childs input {
  background-color: transparent;
  outline: none;
  border: solid 2px #9191bd;
  border-radius: 20px;
  padding: 10px 20px;
  color: #9191bd;
  cursor: pointer;
  transition: background-color .3s ease;
  
}

.container-form .information .info-childs input:hover {
  border: none;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  
}

/* Estilos para la vista del formulario */
.container-form .form-information {
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  
}

.container-form .form-information .form-information-childs {
  padding: 0 30px;
}

.container-form .form-information .form-information-childs h2 {
  color: #333;
  font-size: 2rem;
}

.container-form .form-information .form-information-childs p {
  color: #555;
}

/* Estilos para los formularios dentro de Login y Register */
.container-form .form-register,
.container-form .form-login {
  margin-top: 30px;
}

/* Estilos para los inputs del formulario */
.container-form .form-register label input,
.container-form .form-login label input {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #333;
}

/* Estilos para el botón de envío */
.container-form .form-register input[type="submit"],
.container-form .form-login input[type="submit"] {
  background-color: #9191bd;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.container-form .form-register input[type="submit"]:hover,
.container-form .form-login input[type="submit"]:hover {
  background-color: #7a7a9a;
}

/* Escondemos alertas si no hay error o éxito */
.form > .alerta-error,
.form > .alerta-exito {
  display: none;
}

.form .alertaError {
  display: block;
  background-color: #F66060;
  padding: .5rem 1rem;
  margin-top: 10px;
  font-weight: 500;
  font-size: .8rem;
}

.form .alertaExito {
  display: block;
  background-color: #0ca828;
  padding: .5rem 1rem;
  margin-top: 10px;
  font-weight: 500;
  font-size: .8rem;
}

/* Estilos específicos para la vista de Registro */
.container-form.register .form-register {
  display: block;
}

.container-form.register .form-login {
  display: none;
}

/* Estilos específicos para la vista de Login */
.container-form.login .form-login {
  display: block;
}

.container-form.login .form-register {
  display: none;
}

/* Ajustes para pantallas más pequeñas */
@media screen and (max-width: 750px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: 15px;
  }

  .container-form {
    height: auto;
    flex-direction: column;
  }

  .information {
    width: 100%;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0;
  }

  .form-information {
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
  }
}
