/* Reset de estilos globales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sawarabi Gothic', sans-serif;
}

body {
  min-height: 100vh; /* Altura mínima igual al viewport */
  background-color: darkslategrey;
  display: flex; /* Para centrar contenido */
  justify-content: center; /* Centrado horizontal */
  align-items: flex-start; /* Evita que los componentes queden en el centro vertical */
  padding: 2rem 0; /* Espaciado opcional */
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  width: 100%;
  margin: auto;
}

#root {
  max-width: 1280px;
  width: 100%;
  padding: 2rem;
  text-align: center;
  min-height: 90vh; /* Ocupa casi toda la altura de la pantalla */
}

/* Logo y animaciones */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Estilos adicionales para el formulario */
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
