.nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:darkslategrey; /* Fondo oscuro elegante */
    color: white;
}

.logo {
    width: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li {
    cursor: pointer;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease;
}

.nav-links li:hover {
    color: #ffd700; /* Dorado para hover */
}

.nav-links li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ffd700;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}

.nav-links li:hover::after {
    width: 100%;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    width: 30px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}

.nav-button {
    background-color: #f8f9fa;
    font-size: 16px;
    color: #34403b;
    border: 1px solid #f8f9fa;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-button:hover {
    background-color: #ffd700;
    color: #343a40;
    transform: translateY(-3px);
}

.user-section {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
}

/* Indicador decorativo */
.dot {
    width: 8px;
    height: 8px;
    background-color: #ff4d4d;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
}
.cart-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1000;
    overflow-y: auto;
}

.cart-menu h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.cart-menu .close-cart {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.cart-menu .cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
